body{
  color: blue;
  text-align: left;
  font-family:fantasy;
  font-size: 20px;
  text-decoration: overline;
}
#title {
  text-align: center;
  color:black;
  padding: 10px;
  margin: 10px;
  border-weight: 8px;
  border-style: solid;
}
#list{
  color:green;
}
#img {
border-weight: 10px;
}
